#main_pane_ajout_membre {
    -fx-translate-x: 28.0;
    -fx-translate-y: 23.0;
    -fx-background-color: #cad6c1;
    -fx-pref-width: 615.0;
    -fx-pref-height: 600.0;
}

#lbl_ajout{
    -fx-font-size: 24;
    -fx-text-fill: #424b38;
    -fx-translate-y: 8.0;
    -fx-translate-x: 25.0;
}

#lbl_prenom{
    -fx-translate-y: 50.0;
    -fx-translate-x: 25.0;
}

#lbl_nom{
    -fx-translate-y: 80.0;
    -fx-translate-x: 25.0;
}

#lbl_noEtudiant {
    -fx-translate-y: 110.0;
    -fx-translate-x: 25.0;
}

#prenom{
    -fx-translate-y: 50.0;
    -fx-translate-x: 170.0;
    -fx-font-size: 12;
    max-height: 12px;
}

#nom {
    -fx-translate-y: 80.0;
    -fx-translate-x: 170.0;
    -fx-font-size: 12;
}

#no{
    -fx-translate-y: 110.0;
    -fx-translate-x: 170.0;
    -fx-font-size: 12;
}

#cb_numDA {
    -fx-translate-x: 325.0;
    -fx-translate-y: 112.0;
}

#cb_numDA:hover {
    -fx-cursor: hand;
}

#lbl_addr_postal{
    -fx-translate-y: 140.0;
    -fx-translate-x: 25.0;
    -fx-font-weight: bold;
}

#lbl_address{
    -fx-translate-y: 170.0;
    -fx-translate-x: 46.0;
}

#lbl_codePostal{
    -fx-translate-y: 260.0;
    -fx-translate-x: 46.0;
}

#lbl_ville{
    -fx-translate-y: 290.0;
    -fx-translate-x: 46.0;
}

#lbl_province{
    -fx-translate-y: 320.0;
    -fx-translate-x: 46.0;
}

#address{
    -fx-translate-y: 170.0;
    -fx-translate-x: 170.0;
    -fx-font-size: 12;
}

#code_postal {
    -fx-translate-y: 260.0;
    -fx-translate-x: 170.0;
    -fx-font-size: 12;
}

#ville {
    -fx-translate-y: 290.0;
    -fx-translate-x: 170.0;
    -fx-font-size: 12;
}

#province {
    -fx-translate-y: 320.0;
    -fx-translate-x: 170.0;
    -fx-font-size: 12;
}

#province:hover {
    -fx-cursor: hand;
}

#lbl_email {
    -fx-translate-y: 350.0;
    -fx-translate-x: 25.0;
}

#lbl_tel1 {
    -fx-translate-y: 380.0;
    -fx-translate-x: 25.0;
}

#lbl_tel2{
    -fx-translate-y: 410.0;
    -fx-translate-x: 25.0;
}

#courriel {
    -fx-translate-y: 350.0;
    -fx-translate-x: 170.0;
    -fx-font-size: 12.0;
}

#numero1 {
    -fx-translate-y: 380.0;
    -fx-translate-x: 170.0;
    -fx-font-size: 12.0;
}

#numero2 {
    -fx-translate-y: 410.0;
    -fx-translate-x: 170.0;
    -fx-font-size: 12.0;
}

#lbl_note1 {
    -fx-translate-y: 380.0;
    -fx-translate-x: 325.0;
}

#lbl_note2 {
    -fx-translate-y: 410.0;
    -fx-translate-x: 325.0;
}

#note1 {
    -fx-translate-y: 380.0;
    -fx-translate-x: 390.0; 
    -fx-font-size: 12.0;
}

#note2 {
    -fx-translate-y: 410.0;
    -fx-translate-x: 390.0; 
    -fx-font-size: 12.0;
}

#lbl_commentaire {
    -fx-translate-y: 440.0;
    -fx-translate-x: 25.0;
}

#commentaire {
    -fx-translate-y: 470.0;
    -fx-translate-x: 25.0;
    -fx-pref-width: 576.0;
    -fx-pref-height: 74.0;
}

#btn_ajout {
    -fx-translate-y: 560.0;
    -fx-translate-x: 500.0;
    -fx-background-color: #647a52; 
    -fx-pref-width: 103.0;
    -fx-pref-height: 25.0;
    -fx-text-fill: white;
}

#btn_ajout:hover{
    -fx-background-color: #96ad83; 
    -fx-cursor: hand;
}

#btn_annuler {
    -fx-translate-y: 560.0;
    -fx-translate-x: 375.0;
    -fx-background-color: #424b38;
    -fx-pref-width: 103.0;
    -fx-pref-height: 25.0;
    -fx-text-fill: white;
}


