#main_pane_fiche_membre{
    -fx-translate-x: 28.0;
    -fx-translate-y: 23.0;
    -fx-background-color: #cad6c1;
    -fx-pref-width: 615.0;
    -fx-pref-height: 1515.0;
}

#main_pane_fiche_membre *{
    -fx-text-fill: #424b38;
}

#cpt_etudiant{
    -fx-font-size: 24;
    -fx-translate-y: 8.0;
    -fx-translate-x: 25.0;
    -fx-text-fill: #424b38;
}

#btn_modif {
    -fx-translate-y: 13.0;
    -fx-translate-x: 380.0;
    -fx-background-color: #647a52; 
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-font-size: 14.0;
}

#btn_modif:hover{
    -fx-background-color: #96ad83; 
    -fx-cursor: hand;
}

#btn_suppMem{
    -fx-translate-y: 13.0;
    -fx-translate-x: 460.0;
    -fx-background-color: #647a52; 
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-font-size: 14.0;
}

#btn_suppMem:hover{
    -fx-background-color: #96ad83; 
    -fx-cursor: hand;
}

#nom_etudiant {
    -fx-translate-y: 50.0;
    -fx-translate-x: 25.0;
}

#lbl_nom_etudiant {
    -fx-translate-y: 50.0;
    -fx-translate-x: 200.0;
}

#no_membre_etudiant{
    -fx-translate-y: 70.0;
    -fx-translate-x: 25.0;
}

#lbl_no_membre{
    -fx-translate-y: 70.0;
    -fx-translate-x: 200.0;
}

#etudiant_adresse {
    -fx-translate-y: 90.0;
    -fx-translate-x: 25.0;
}

#lbl_adresse{
    -fx-translate-y: 90.0;
    -fx-translate-x: 200.0;
}

#etudiant_courriel {
    -fx-translate-y: 110.0;
    -fx-translate-x: 25.0;
}

#lbl_courriel {
    -fx-translate-y: 110.0;
    -fx-translate-x: 200.0;
}

#etudiant_tel1 {
    -fx-translate-y: 130.0;
    -fx-translate-x: 25.0;
}

#lbl_telephone1 {
    -fx-translate-y: 130.0;
    -fx-translate-x: 200.0;
}

#etudiant_tel2 {
    -fx-translate-y: 150.0;
    -fx-translate-x: 25.0;
}

#lbl_telephone2 {
    -fx-translate-y: 150.0;
    -fx-translate-x: 200.0;
}

#lbl_etat_compte {
    -fx-translate-y: 190.0;
    -fx-translate-x: 25.0;
    -fx-font-weight: bold;
}

#etudiant_etat {
    -fx-translate-y: 220.0;
    -fx-translate-x: 25.0;
}

#lbl_etat {
    -fx-translate-y: 220.0;
    -fx-translate-x: 200.0;
}

#date_activation{
    -fx-translate-y: 240.0;
    -fx-translate-x: 25.0;
}

#lbl_inscription {
    -fx-translate-y: 240.0;
    -fx-translate-x: 200.0;
}

#date_derniere_activite {
    -fx-translate-y: 260.0;
    -fx-translate-x: 25.0;
}

#lbl_derniereActivite {
    -fx-translate-y: 260.0;
    -fx-translate-x: 200.0;
}

#date_desactivation{
    -fx-translate-y: 280.0;
    -fx-translate-x: 25.0;
}

#lbl_desactivation {
    -fx-translate-y: 280.0;
    -fx-translate-x: 200.0;
}

#btn_ajout_exemplaire {
    -fx-translate-y: 330.0;
    -fx-translate-x: 25.0;
    -fx-background-color: #647a52; 
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-font-size: 14.0;
}
#btn_ajout_exemplaire:hover{
    -fx-background-color: #96ad83; 
    -fx-cursor: hand;
}

#lbl_txt_comm {
    -fx-translate-y: 390.0;
    -fx-translate-x: 25.0;
    -fx-text-size: 18.0;
    -fx-font-weight: bold;
}

#btn_ajoutCom {
    -fx-translate-y: 385.0;
    -fx-translate-x: 415.0;
    -fx-background-color: #647a52; 
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-font-size: 14.0; 
}

#btn_ajoutCom:hover {
    -fx-background-color: #96ad83; 
    -fx-cursor: hand;
}

#tbl_commentaire {
    -fx-translate-y: 430.0;
    -fx-translate-x: 22.0;
}

#tbl_commentaire *:hover{
    -fx-cursor: hand; 
}

#btn_remboursement {
    -fx-translate-y: 596.0;
    -fx-translate-x: 50.0;
    -fx-font-size: 18.0;
    -fx-background-color: #647a52; 
    -fx-border-color: none;
    -fx-text-fill: white;
}

#btn_remboursement:hover {
    -fx-background-color: #96ad83; 
    -fx-cursor: hand;
}

#btn_renouv {
    -fx-translate-y: 596.0;
    -fx-translate-x: 250.0;
    -fx-font-size: 18.0;
    -fx-background-color: #647a52; 
    -fx-border-color: none;
    -fx-text-fill: white;
}

#btn_renouv:hover{
    -fx-background-color: #96ad83; 
    -fx-cursor: hand;    
}

#btn_recu {
    -fx-translate-y: 596.0;
    -fx-translate-x: 410.0;
    -fx-font-size: 18.0;
    -fx-background-color: #647a52; 
    -fx-border-color: none;
    -fx-text-fill: white;
}

#btn_recu:hover {
    -fx-background-color: #96ad83; 
    -fx-cursor: hand;    
}

#lbl_membre_stats {
    -fx-translate-y: 660.0;
    -fx-translate-x: 25.0;
    -fx-text-size: 18.0;
    -fx-font-weight: bold;
}

#tbl_stat {
    -fx-translate-y: 700.0;
    -fx-translate-x: 22.0;  
}

#tbl_stat:hover {
    -fx-cursor: hand; 
}

#lbl_membre_ouvrages {
    -fx-translate-y: 860.0;
    -fx-translate-x: 25.0;
    -fx-text-size: 18.0;
    -fx-font-weight: bold;
}

#lbl_membre_allera {
    -fx-translate-y: 860.0;
    -fx-translate-x: 130.0;
    -fx-text-size: 14.0;
}

#cb_allerA {
    -fx-translate-y: 855.0;
    -fx-translate-x: 185.0;
    -fx-text-size: 12.0;
}

#cb_allerA:hover {
    -fx-cursor: hand; 
}

#btn_membre_aVendre{
    -fx-translate-y: 1030.0;
    -fx-translate-x: 25.0;
    -fx-background-color: none;
    -fx-font-weight: bold;
}

#btn_membre_aVendre:hover {
    -fx-cursor: hand; 
}

#tbl_membre_aVendre {
    -fx-translate-y: 1060.0;
    -fx-translate-x: 25.0;
}

#tbl_membre_aVendre:hover {
    -fx-cursor: hand; 
}

#btn_membre_vendu{
    -fx-translate-y: 1180.0;
    -fx-translate-x: 25.0;
    -fx-background-color: none;
    -fx-font-weight: bold;
}

#btn_membre_vendu:hover {
    -fx-cursor: hand; 
}

#tbl_membre_vendu {
    -fx-translate-y: 1210.0;
    -fx-translate-x: 25.0;
}

#tbl_membre_vendu:hover {
    -fx-cursor: hand; 
}

#btn_membre_argentRemis {
    -fx-translate-y: 1330.0;
    -fx-translate-x: 25.0;
    -fx-background-color: none;
    -fx-font-weight: bold;
}

#btn_membre_argentRemis:hover {
    -fx-cursor: hand; 
}

#tbl_membre_argentRemis {
    -fx-translate-y: 1360.0;
    -fx-translate-x: 25.0;
}

#tbl_membre_argentRemis:hover {
    -fx-cursor: hand; 
}