#main_pane_recherche{
    -fx-translate-x: 28.0;
    -fx-translate-y: 23.0;
    -fx-background-color: #cad6c1;
    -fx-pref-width: 610.0;
    -fx-pref-height: 175.0;
}

#titre_recherche {
    -fx-translate-x: 25.0;
    -fx-translate-y: 14.0;
    -fx-text-fill: #424b38;
    -fx-font-size: 24.0;
}

#tf_recherche{
    -fx-translate-x: 21.0;
    -fx-translate-y: 56.0;
    -fx-pref-width: 570.0;
    -fx-pref-height: 25.0;
    margin-bottom: 50px;
}

#btn_lancer_recherche{
    -fx-translate-x: 470.0;
    -fx-translate-y: 115.0;
    -fx-pref-width: 118.0;
    -fx-pref-height: 25.0;
    -fx-background-color: #647a52; 
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-font-size: 14.0;
}

#btn_lancer_recherche:hover{
    -fx-background-color: #96ad83; 
    -fx-cursor: hand;
}

#rb_membre {
    -fx-font-size: 14.0;
    -fx-translate-x: 21.0;
    -fx-translate-y: 100.0;
    -fx-text-fill: #424b38;
}

#rb_membre:hover {
    -fx-cursor: hand;
}

#rb_article {
    -fx-font-size: 14.0;
    -fx-translate-x: 145.0;
    -fx-translate-y: 102.0;
    -fx-text-fill: #424b38;
}

#rb_article:hover {
    -fx-cursor: hand;
}

#cb_desactive {
    -fx-font-size: 14.0;
    -fx-translate-x: 21.0;
    -fx-translate-y: 130.0;
}

#cb_desactive:hover {
    -fx-cursor: hand; 
}

#lb_message {
    -fx-font-size: 14.0;
    -fx-translate-x: 13.0;
    -fx-translate-y: 200.0;
    -fx-text-fill: #424b38;
}

#resultat_membre {
    -fx-translate-x: 0.0;
    -fx-translate-y: 200.0;
}

#resultat_membre *:hover{
    -fx-cursor: hand; 
    -fx-background-color: #96ad83;
    -fx-text-fill: white;
}

#resultat_article {
    -fx-translate-x: 0.0;
    -fx-translate-y: 200.0; 
}

#resultat_article *:hover{
    -fx-cursor: hand; 
    -fx-background-color: #96ad83;
    -fx-text-fill: white;
}



