.menu, .menu-item {
  -fx-cursor: hand;
}

.aside {
  -fx-background-color: #96ad83;
}

.aside .button {
  -fx-background-color: #96ad83;
  -fx-font-size: 24;
  -fx-text-fill: #FFF;
  -fx-pref-height: 50;
  -fx-pref-width: 200;
  -fx-alignment: "center-left";
}

.aside .button:hover {
  -fx-background-color: #647a52;
  -fx-cursor: hand;
}

.root {
  .fx-font-size: 15;
}

.main {
  -fx-background-color: #cad6c1;
  -fx-padding: 20;
}

.section {
  -fx-padding: 15 0 20 0;
}

.h1 {
  -fx-font-size: 24;
  -fx-font-weight: bold;
}

.border {
  -fx-border-color: #000;
  -fx-border-width: 1;
}

.h2 {
  -fx-font-size: 18;
  -fx-font-weight: bold;
}

.h3 {
  -fx-font-size: 16;
  -fx-font-weight: bold;
}

.form-label {
 -fx-pref-width: 120;
}

.form-button {
  -fx-background-color: #647a52;
  -fx-padding: 10 15 10 15;
  -fx-text-fill: white;
}

.form-button:hover{
  -fx-background-color: #96ad83;
  -fx-cursor: hand;
}

.check-box:hover {
  -fx-cursor: hand;
}

.combo-box:hover {
  -fx-cursor: hand;
}