html, body {
font-size: 10px;
}

h2 {
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.signature {
  margin: 100px 0 0 66%;
  width: 33%;
  text-align: right;
}

.terms {
  font-size: 0.8em;
}
